// Font: Public Sans

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// RESETS

* {
    box-sizing: border-box;
}

:focus {
  outline: none !important;
}

html {
    font-size: 60%; // This sets base font size to 10px (1rem = 10px)

}

body {
    margin: 0;
    all: unset;
    -webkit-tap-highlight-color: transparent;


}



// COLOURS

// Beige

$beige-500: #98908B;
$beige-100: #F8F4F0;

// Grey

$grey-900: #201F24;
$grey-500: #696868;
$grey-300: #B3B3B3;
$grey-100: #F2F2F2;

// Secondary

$green: #277C78;
$yellow: #F2CDAC;
$cyan: #82C9D7;
$navy: #626070;
$red: #C94736;
$purple: #826CB0;

// Others

$light-purple: #AF81BA;
$turquoise: #597C7C;
$brown: #93674F;
$magenta: #934F6F;
$blue: #3F82B2;
$navy-grey: #97A0AC;
$army-green: #7F9161;
$gold: #CAB361;
$orange: #BE6C49;

// TYPOGRAPHY

$font-family: 'Public Sans', sans-serif;

@mixin text-preset-1 {
  font-family: $font-family;
  font-size: 3.2rem;
  font-weight: 700; // Bold
  line-height: 1.2;
  letter-spacing: 0;
};

@mixin text-preset-2 {
    font-family: $font-family;
    font-size: 2rem;
    font-weight: 700; // Bold
    line-height: 1.2;
    letter-spacing: 0;
  };

@mixin text-preset-3 {
    font-family: $font-family;
    font-size: 1.6rem;
    font-weight: 700; // Bold
    line-height: 1.5;
    letter-spacing: 0;
  };

@mixin text-preset-4 {
    font-family: $font-family;
    font-size: 1.4rem;
    font-weight: 400; // Regular
    line-height: 1.5;
    letter-spacing: 0;
  };

@mixin text-preset-4-bold {
    font-family: $font-family;
    font-size: 1.4rem;
    font-weight: 700; // Bold
    line-height: 1.5;
    letter-spacing: 0;
  };

@mixin text-preset-5 {
    font-family: $font-family;
    font-size: 1.2rem;
    font-weight: 400; // Regular
    line-height: 1.5;
    letter-spacing: 0;
  };

@mixin text-preset-5-bold {
    font-family: $font-family;
    font-size: 1.2rem;
    font-weight: 700; // Bold
    line-height: 1.5;
    letter-spacing: 0;
  };


  @media screen and (min-width: 1024px) {
    html {
      font-size: 60%; // This sets base font size to 10px (1rem = 10px)
  
  }
  }


