@use '../../styles/mixins.scss' as *;


.navbar {
    background-color: $grey-900;
    display: flex;
    justify-content: center;
    padding-top: 0.8rem;
    padding-right: 1.6rem;
    padding-left: 1.6rem;
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;


    border-radius: 0.8rem 0.8rem 0 0;

    a {
        padding: 0;
    }

}

.navbar__item {
    display: flex;
    background-color: $grey-900;
    flex-direction: column;
    align-items: center;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 2.24rem;
    padding-right: 2.24rem;

    border-radius: 0.8rem 0.8rem 0 0;


    &.active {
        background-color: $beige-100;
        border-bottom: $green 4px solid;
        outline: none;
        border-top: none;
        border-right: none;
        border-left: none;
        
        svg {
            fill: $green;
        }

        span {
            color: $grey-900;
        }


    }


}

button:focus {
    box-shadow: none;
}

.navbar__text {
    display: none;
    color: $grey-300;

    @include text-preset-5-bold;


}

.navbar__icon {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 767px) {
    .navbar {
        padding-right: 4.0rem;
        padding-left: 4.0rem;
        justify-content: space-between;
    }

    .navbar__text {
        display: flex;
        
    }


}

@media screen and (min-width: 1024px) {
    .navbar {
        display: none;
    }
}