@use '../../../styles/mixins' as *;


.pot-transaction__subtracted {
    height: 100%;
    background-color: $red;
    position: absolute;
    transition: width 0.3s ease;
    border-radius: 0 0.8rem 0.8rem 0;


}

.pot-transaction__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    :first-child {
        @include text-preset-4;
        color: $grey-500;
    }

    :last-child {
        @include text-preset-1;
        color: $grey-900;
    }
}

.transaction-status {
    display: flex;
    justify-content: space-between;

    :first-child {
        @include text-preset-5-bold;
        color: $grey-900;
    }

    :last-child {
        @include text-preset-5;
        color: $grey-500;
    }

    span {
        &.red {
            color: $red;
        }
    }

}

