@use '../../../styles/mixins' as *;

.delete-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    h3 {
        @include text-preset-1;
        color: $grey-900;
        margin: 0;
    }
    button {
        padding: 0;
        background-color: white;

        :hover {
          fill: $grey-900;
        }
    }
}

.delete-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(32, 32, 32, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .delete-modal {
    background: #fff;
    padding: 3.2rem;
    border-radius: 0.8rem;
    box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.2);
    max-width: 56rem;

    p {
        @include text-preset-4;
        color: $grey-500;
        margin: 0;
        margin-bottom: 2rem;
    }
  }
  
  .delete-modal__actions {
    display: flex;
    flex-direction: column;
    text-align: center;
    @include text-preset-4;


    .dlt-confirm-btn {
        color: white;
        background-color: $red;
        border-radius: 0.8rem;
        cursor: pointer;
        width: 100%;
        padding: 1.6rem 0;
        @include text-preset-4-bold;

        &:hover {
            opacity: 0.8;
            transition: background-color 0.2s ease-in-out;
        }
      }

      .dlt-cancel-btn {
        color: $grey-500;
        background-color: white;
        border: none;
        border-radius: 0.8rem;
        cursor: pointer;
        width: 100%;
        padding: 1.6rem 0;
        @include text-preset-4-bold;

        &:hover {
          background-color: $grey-100;
          transition: background-color 0.2s ease-in-out;
      }
      }

  }
  

  
