@import '../../../styles/mixins.scss';

button {
    all: unset;
    display: flex;
    flex-direction: column;
    color: $grey-300;
    font-weight: 700;
}

svg {
    color: $grey-300;
}

@media screen and (min-width: 1024px) {
    button {
        flex-direction: row;
    }
    
}