@import '../../../styles/mixins';

// Global

.bar-summary {
    margin-bottom: 1.6rem;
  
    &__top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0.6rem;
      font-size: 1.4rem;
    }
  
    &__bar-container {
      height: 1.2rem;
      border-radius: 0.8rem;
      overflow: hidden;
    }
  
    &__bar-fill {
      height: 100%;
     // background-color: $green;
      transition: width 0.4s ease;
    }
  }

.bar-summary__header {
    display: flex;
    flex-direction: row;
}