@use '../../../styles/mixins' as *;

.delete-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(32, 32, 32, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .delete-modal {
    background: #fff;
    padding: 2rem;
    border-radius: 0.8rem;
    box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.2);
    max-width: 400px;
    text-align: center;
  }
  
  .delete-modal__actions {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
  }
  
  .confirm-btn {
    background-color: #c94736;
    color: white;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
  }
  
  .cancel-btn {
    background-color: #ddd;
    color: #333;
    padding: 0.6rem 1.2rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer;
  }