.edit-modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .edit-modal {
    background: #fff;
    border-radius: 1rem;
    padding: 2rem;
    width: 32rem;
    max-width: 90%;
    box-shadow: 0 0.8rem 2rem rgba(0, 0, 0, 0.1);
  }
  

  
  form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  
    label {
      display: flex;
      flex-direction: column;
      font-weight: 500;
      font-size: 1.2rem;
  
      input {
        margin-top: 0.5rem;
        padding: 0.8rem 1rem;
        border-radius: 0.5rem;
        border: 1px solid #ccc;
        font-size: 1.2rem;
      }
    }
  
    .custom-dropdown {
      position: relative;
      background: #f9f9f9;
      border: 1px solid #ccc;
      border-radius: 0.5rem;
      padding: 0.8rem 1rem;
      cursor: pointer;
  
      &__selected {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        font-size: 1.2rem;
      }
  
      &__list {
        position: absolute;
        top: 105%;
        left: 0;
        width: 100%;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        max-height: 200px;
        overflow-y: auto;
        z-index: 10;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
      }
  
      &__option {
        padding: 0.8rem 1rem;
        display: flex;
        align-items: center;
        gap: 0.8rem;
        cursor: pointer;
  
        &:hover {
          background-color: #f0f0f0;
        }
      }
    }
  
    .color-circle {
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      display: inline-block;
      border: 1px solid #ccc;
    }
  
    .modal-actions {
      display: flex;
      justify-content: flex-end;
      gap: 1rem;
  
      button {
        padding: 0.7rem 1.5rem;
        border: none;
        border-radius: 0.4rem;
        font-weight: 600;
        cursor: pointer;
  
        &:first-child {
          background-color: #277C78;
          color: white;
        }
  
        &:last-child {
          background-color: transparent;
          color: #444;
        }
      }
    }
  }
  