@use '../../styles/mixins' as *;

.add-budget {
  all: unset;
  @include text-preset-4-bold;
  color: white;
  background-color: $grey-900;
  border-radius: 0.8rem;
  padding: 1.6rem 1.6rem;
  cursor: pointer;

  &:hover {
    background-color: $grey-500;
    transition: background-color 0.2s ease-in-out;
  }
}

.budgets-header {
  margin-bottom: 3.2rem;
  margin-top: 3.2rem;
}

@media screen and (min-width: 1024px) {
    .budgets {
        h1 {
            @include text-preset-1;
            color: $grey-900;
            margin: 0;
            display: flex;
            align-items: center;
        }
        .budgets-header {
          display: flex;
          justify-content: space-between;
        }
        .budgets-grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            align-items: start;
          }
          
          .budgets-chart {
            position: sticky;
            top: 2rem; 
          }
          
          .budgets-summary {
            display: flex;
            flex-direction: column;
            gap: 2rem;
          }
    }
}