@use '../../styles/mixins.scss' as *;

.transactions {


    h1 {
        @include text-preset-1;
        color: $grey-900;
        background-color: $beige-100;
        margin-top: 2.4rem;
        margin-bottom: 3.2rem;
    }
}

.transactions__content {
    background-color: white;
    border-radius: 1.2rem;
    display: flex;
    justify-content: space-between;

    padding: 2.0rem 2.0rem;

}

.sort-container {
    display: flex;
    gap: 2.4rem;
}

@media (min-width: 768px) {
    .transactions__content {
        padding: 3.2rem 3.2rem
    }
    


}

@media (min-width: 768px) and (max-width: 1024px) {
    .transactions__content {
        justify-content: center;
        gap: 2.4rem;
    }
}
