@use '../../../styles/mixins.scss' as *;

.pots-overview {
  background-color: white;
  padding: 2.4rem 2.0rem;
  border-radius: 1.2rem;

  .overview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    &__title {
      color: $grey-900;
    }

    .see-details {
      color: $grey-500;
      @include text-preset-4;
      cursor: pointer;
      
      span {
        margin-left: 1.2rem;
      }

    }
  }

  &__details {
    padding-left: 2rem; 

    h4 {
        @include text-preset-5;
        color: $grey-500;
    }
    
    span {
        @include text-preset-4-bold;
        color: $grey-900;
    }
  }


  &__total-saved-container {
    color: $grey-900;
    background-color: $beige-100;
    display: flex;
    align-items: center;
    padding: 2rem 1.6rem;
    gap: 16px;
    border-radius: 0.8rem;
    margin-bottom: 2rem;
  }

  &__total-saved {
    display: flex;
    flex-direction: column;

    h3 {
        @include text-preset-4;
        color: $grey-500;
        margin: 0;
        margin-bottom: 1.1rem;
    }
    p {
        @include text-preset-1;
        color: $grey-900;
        margin: 0;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.6rem;
  }


  &__item {
    background-color: white;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;;

    h4 {
        margin: 0;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      color: $grey-900;
    }

    &__progress-bar {
      height: 0.8rem;
      background-color: $beige-100;
      border-radius: 8rem;
      overflow: hidden;
      margin-bottom: 0.8rem;

      &__progress-fill {
        height: 100%;
        background-color: $green;
        transition: width 0.3s ease;
      }
    }

    &__percentage {
      color: $grey-500;
    }
  }
}
  .pots-overview__color-indicator {
    width: 0.4rem;
    height: 100%;
    border-radius: 0.4rem;
  }
