@use '../../../styles/mixins.scss' as *;

.transactions-overview {
  background-color: white;
  padding: 2.4rem 2.0rem;
  border-radius: 1.2rem;
  


  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }


  &__list-empty {
    background-color: $beige-100;
    border-radius: 0.8rem;
    padding: 15% 0;
    text-align: center;
    @include text-preset-4;
  }

  .overview-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.2rem;



    &__title {
      color: $grey-900;
      @include text-preset-2;
    }

    .see-details {
      all: unset;
      color: $grey-500;
      @include text-preset-4;
      cursor: pointer;
            &:hover {
        color: $grey-900;
      }
      span {
        margin-left: 1.2rem;
        svg {
          fill: $grey-500;
        }
      }

    }
  }
}

.transaction-item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__name {
        @include text-preset-4-bold;
        color: $grey-900;
    }

    &__info {
        text-align: right;
        :first-child {
            @include text-preset-4-bold;
            color: $grey-900;

        }

        &.positive {
            :first-child {
                color: $green;
            }
        }

        :last-child {
            @include text-preset-5;
            color: $grey-500;
        }




    }
}

@media screen and (max-width: 1024px) {
    .transactions-overview__list-empty {
        padding: 5% 0;
    }
}