@use '../../styles/mixins.scss' as *;

.dashboard {
    display: flex;
    flex-direction: row;


    height: 100%;

    background-color: $beige-100;
}

.dashboard__content {
    width: 100%;
    box-sizing: border-box;
    padding: 0 1.2rem;
    height: 100vh;

}


@media (min-width: 768px) {


.dashboard__content {
    width: 100%;

    border-radius: 1.2rem;
    padding: 0 4.0rem;

}

}

@media (max-width: 1024px) {
    .dashboard__content {
        margin-bottom: 5.1rem;
        height: fit-content;
    }
}