@use '../../styles/mixins.scss' as *;

.dashboard {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: $beige-100;
}

.dashboard__content {
    width: 100%;
    margin: 3.2rem 4.0rem;
    border-radius: 1.2rem;

}