@use '../../styles/mixins.scss' as *;

.dashboard {
    display: flex;
    flex-direction: row;


    height: 100%;

    background-color: $beige-100;
}

.dashboard__content {
    width: 100%;
    box-sizing: border-box;
    padding: 0 1.2rem;


}


@media (min-width: 768px) {


.dashboard__content {
    width: 100%;

    border-radius: 1.2rem;
    padding: 0 4.0rem;

}

}