@use '../../styles/mixins.scss' as *;

.login {
    padding: 3.2rem;
    border-radius: 1.2rem;
    background-color: white;
    border-radius: 1.2em;
}

.login__container {
    gap: 3.2rem;

    form {
        display: flex;
        flex-direction: column;
    }

    h1 {
        @include text-preset-1;
    }

    label {
        @include text-preset-5-bold;
        color: $grey-500;
        display: flex;
        justify-content: space-between;
        margin: 0;
        margin-bottom: 0.4rem;
    }

    input {
        border-radius: 0.8rem;
        height: 4.5rem;
        border: 2px solid;
        font-size: 1.2rem;
        padding-left: 1.6rem;
    }

    button {
        border-radius: 0.8rem;
        border: 2px solid;
    }

    p {
        @include text-preset-4;
        color: $grey-500;
        text-align: center;

        span {
            @include text-preset-4-bold;
            color: $grey-900;
            text-decoration: underline;

            &:hover {
                cursor: pointer;
                color: $grey-500;
            }
            
        }
    }
}

.email-input {
    margin-bottom: 1.6rem;
}

.password-input {
    margin-bottom: 3.2rem;
}

.register-link {
    all: unset;
    @include text-preset-4-bold;
    color: $grey-900;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
        color: $grey-500;
    }
}

@media screen and (min-width: 768px) {
    .login {
        min-width: 50rem;
    }
}

@media screen and (min-width: 1024px) {
    .login {
        min-width: 34.3rem;
        width: 40%;
        max-width: 49.6rem;
    }
}