@import '../../styles/mixins.scss';

.register {
    padding: 3.2rem;
    border-radius: 1.2rem;
    min-width: 34.3rem;
    max-width: 49.6rem;
    background-color: white;
}

.register__container {
    gap: 3.2rem;

    form {
        display: flex;
        flex-direction: column;
    }

    h1 {
        @include text-preset-1;
    }

    label {
        @include text-preset-5-bold;
        display: flex;
        justify-content: space-between;
        color: $grey-500;
        margin: 0;
        margin-bottom: 0.4rem;
    }

    input {
        border-radius: 0.8rem;
        height: 4.5rem;
        border: 2px solid;
        font-size: 1.2rem;
        padding-left: 1.6rem;

    }

    button {
        height: 5.3rem;
        border-radius: 0.8rem;
        border: 2px solid;
    }

    p {
        @include text-preset-4;
        color: $grey-500;
        text-align: center;

        span {
            @include text-preset-4-bold;
            color: $grey-900;
            text-decoration: underline;

            &:hover {
                cursor: pointer;
                color: $grey-500;
            }
        }
    }
}

.name-input {
    margin-bottom: 1.6rem;
}

.email-input {
    margin-bottom: 1.6rem;
}

.createpassword-input {
    margin-bottom: 3.2rem;
}

.error {
    color: $red;
}

.backend-error {
    color: $red;
    font-size: 1.6rem;
    align-self: center;
    font-weight: 500;
}

input.error {
    border: 2px solid $red;
}

@media screen and (min-width: 768px) {
    .register {
        min-width: 34.3rem;
        width: 40%;
        max-width: 49.6rem;
    }
}

