@import '../../../styles/mixins.scss';



.sortby__desktop {
    display: none;
}

.sortby__mobile {
    all: unset;
    position: absolute;
    top: 9rem;
    left: 25rem;
    }


.sortby__options {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}



@media screen and (min-width: 1024px) {
    .sortby__desktop {
        display: flex;
        align-items: center;
    }

    .sortby__mobile {
        display: none;
    }

}