@use '../../../styles/mixins' as *;

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  margin-top: 2rem;

  svg {
    fill: $grey-900;
  }


&__nav {
  &:hover:not(.active):not(:disabled) {
    color: white;

    svg {
      fill: white;
    }
  }
}

  &__nav, &__page {
    @include text-preset-4-bold;
    background-color: white;
    border: 1px solid $beige-500;
    padding: 0.8rem 1.6rem;
    border-radius: 0.6rem;
    cursor: pointer;
    transition: background-color 0.2s ease;

    

    span {
        @include text-preset-4-bold;

        &.prev {
          margin-left: 1.2rem;
        }

        &.next {
          margin-right: 1.2rem;
        }

    }

    &:disabled {
      cursor: default;
      opacity: 0.5;
    }

    &.active {
      background-color: $grey-900;
      color: white;
    }

    &:hover:not(.active):not(:disabled) {
      background-color: $beige-500;
      color: white;

      }
    

    
  }

  &__page {
    button:hover{
      border-color: none;
    }
  }

  &__pages {
    display: flex;
    gap: 0.8rem;

    
  }
}


.pagination__dots {
    @include text-preset-4-bold;
    padding: 0.8rem 1.2rem;
    color: $grey-500;
  }
  