@use '../../../styles/mixins.scss' as *;


.search-container {
    position: relative;


}

.search-input {

    padding: 1.2rem 2.0rem;
    border-radius: 0.8rem;
    border: 1px solid $beige-500;
    @include text-preset-4;
    background-color: white;
}

.icon-wrapper {
    position: absolute;
    bottom: 30%;
    left: 18rem;
}

@media (min-width: 768px) and (max-width: 1023px) {
    .search-input {
        width: 16.1rem;
    }
    .icon-wrapper {
        left: 12.5rem;
    }
}

@media (min-width: 1024px) {
    .search-input {
        width: 21.5rem;
    }
    
}

// Extra small screens only

@media (max-width: 375px) {
    .search-input {
        width: 16rem;
    }

    .icon-wrapper {
        left: 12.5rem;
    }

}