@use '../../../styles/mixins.scss' as *;


// Both desktop and mobile


.sortby {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    cursor: pointer;

}

.sortby__options {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    position: absolute;
    width: 9rem;
    top: 4rem;
    padding: 1.2rem 2.0rem;
    border-radius: 0.8rem;
    border: 1px solid $grey-500;

    background-color: white;
    z-index: 9999;


    li {
        @include text-preset-4;
        padding-top: 0.2rem;

        &:not(:last-child) {
            padding-bottom: 1.2rem;
        }

        &:not(:first-child) {
            border-bottom: 1px solid $grey-100;
            padding-top: 1.2rem;
        }
            &.selected{
                font-weight: 700;
            }

            &:not(:last-child) {
                border-bottom: 1px solid $grey-100;
            }
    }
}

// DESKTOP only

.sortby__desktop {
    display: none;

    label {
        @include text-preset-4;
        color: $grey-500;
        white-space: nowrap;
    }

    .sortby__dropdown {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 0.8rem;
        border: 1px solid $grey-500;
        border-radius: 0.8rem;
        padding: 1.2rem 2.0rem;
        width: 11.5rem;
        z-index: 1000;

        span {
            @include text-preset-4;
            color: $grey-900;
        }
    }
}

.sortby__icon.rotated {
    transform: rotate(180deg);
}





// MOBILE only

.sortby__mobile {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-between
    }


@media screen and (min-width: 768px) {
    .sortby__desktop {
        display: flex;
        align-items: center;
    }

    .sortby__mobile {
        display: none;
    }

    .sortby__options {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        position: absolute;
        width: 11.5rem;
        left: 5.8rem;
        padding: 1.2rem 2.0rem;
        border-radius: 0.8rem;
        border: 1px solid $grey-500;
    }

}