@use '../../../styles/mixins' as *;



.transactions-table {
    width: 100%;

    .recipient {
        color: $grey-900;
        @include text-preset-4-bold;
    }

    .transaction-amount {
        color: $grey-900;
        @include text-preset-4-bold;

        &.positive {
          color: $green;
      }

    }

    th {
        @include text-preset-5;
        color: $grey-500;

      }
  
      td {
        @include text-preset-5;
        color: $grey-500;


      }
  
  /* Desktop */

  .transactions-table {
    width: 100%;
    


      .no-transactions {
        text-align: center;
        padding: 2rem;
        color: #999;
        font-style: italic;
      }
  



  
    &__desktop {
      width: 100%;
      border-collapse: collapse;
      table-layout: fixed;

      th:nth-child(1), td:nth-child(1) { width: 35%; }
      th:nth-child(2), td:nth-child(2) { width: 20%; }
      th:nth-child(3), td:nth-child(3) { width: 20%; }
      th:nth-child(4), td:nth-child(4) { width: 20%; }
      th:nth-child(5), td:nth-child(5) { width: 5%; text-align: right; }

      th {
        text-align: left;

        &:last-child {
            text-align: right;
        }
      }

      td {
        &:last-child, &:nth-last-child(2) {
            text-align: right;
        }
      }
  
      th, td {
        padding: 2.4rem 1.6rem;

        &:not(:last-child) {
            border-bottom: 0.1rem solid rgba($grey-500, 0.15);
      }


 

      }

   }
    }
  
    &__mobile {
      display: none;
    }
  
    // Mobile 
    @media (max-width: 768px) {

        span .recipient {
            @include text-preset-4-bold;
            color: $grey-900;
            text-align: left;
        }

        span {
            @include text-preset-5;
            color: $grey-500;

            &.positive {
              color: $green;
          }

        }

        .transaction-amount, .date {
            text-align: right;


        }

        .recipient, .category {
            display: inline-block;
            white-space: normal;
        }

      &__desktop {
        display: none;
      }
      
  
      &__mobile {
        display: block;
      
  
        &-card {
            display: flex;
            justify-content: space-between;
        }

        }
  
        &__row {
            display: flex;
            position: relative;
            flex-direction: column;
            gap: 0.4rem;
            padding: 1.6rem 2.0rem;

            &:not(:last-child) {
                border-bottom: 0.1rem solid rgba($grey-500, 0.15);
            }
          }

          .transact-delete-btn {
            position: absolute;
            right: -0.5rem;
            top: 2.5rem;
          }

      }
      
    }



    
  
  